.liked-videos{
    text-align: center;
    width:600px;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
@media screen and (max-width:765px) {
    .liked-videos{
        width: 350px;
    }
}