.user-details{
    font-size: x-large;
    margin:2rem 0 0 10rem;
}
.section-fields{
  
    margin:1rem;
}
.password-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:1px dotted white;
    width:50%;
    margin:auto;
}
.password-modal label{
    width:50%;
}
.password-modal input{
    width:40%;
}
.btn-logout-mobile-only{
    display: none;
}
.btn-logout{
    display: block;  
}
.btn{
    color:white;
    background-color: red;
    margin:1rem;
    padding:0.2rem;
}
.section-btn{
    display: flex;

}

@media screen and (max-width:765px) {
    .password-modal{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width:50%;
    }
    .user-details{
        font-size: large;
        margin:2rem 0 0 5rem;
    }
    .btn-logout-mobile-only{
        display: block;
        color:red;
        background-color: transparent;
        border:none;

    }
    .btn-logout{
         display: none;  
    }
}