@import '../../style.css';
.navbar{
    position: sticky;
    z-index: 1;
	top: 0;
	left: 0;
	width: auto;
    display:flex;
    justify-content: space-between;
    font-weight:1000;
    align-items: center;
    padding:0.5rem;
    cursor:pointer; 
}

.nav-icon{
    display: flex;
    margin-left:1rem;
    align-items: center;
}
.nav-hambug{
    display: flex;
    justify-content: center;
    align-items: center;
  padding: 0.5rem;
}
.nav-link{
    color:var(--text-color);
    background-color: var(--secondary-color);
    padding:0.5rem;
    border-radius: 1em;
}
.hambug{
    display: flex;
    flex-direction: column;
}
.navbar-right{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.navbar-login{
margin-right: 2rem;
text-align: center;
}
.svg-img{
    fill:var(--text-color);
}
.svg-img-black{
    fill:var(--secondary-bg-color);
}
.navbar-theme{
    padding:0.5rem;
    border:none;
    background-color: transparent;
}
@media screen and (max-width: 768px){
    /* .hambug-icon{
        display: none;
    } */
    .nav-icon{
            margin-left:0;

    }
    .navbar-login{
        display: none;
    }
}



