 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,500;1,900&display=swap'); 
*{  
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin:0;
}
:root{
    --primary-bg-color:  black;
    --text-color:rgba(255, 255, 255, 0.575);
     --secondary-color:rgb(240, 73, 73);
     --border-color:rgba(255, 255, 255, 0.575);
     --primary-btn-color:red;
}
[data-theme="light"]{
    --primary-bg-color:rgba(255, 255, 255, 0.575);
    --border-color:black;
} 
[data-theme="dark"] {
      --primary-bg-color:  black;
      --border-color:rgba(255, 255, 255, 0.575);
 
      
}
  body{
    background-color: var(--primary-bg-color);
    }
a{
    text-decoration: none;
    color:inherit;
}
.svg-img{
    fill:var(--text-color);
}
.svg-img-black{
    fill:var(--secondary-bg-color);
}
